	
	#menu
	{
		display: flex;
		justify-content: space-around;
		flex-direction: row;
	}
	#rule
	{
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
	#startButton
	{
		width: 80px;
		margin: 0 auto;
	}
	#rectangle
	{
		background-color: red;
		width: 50px;
		height: 50px;
		position: relative;
	}
	#gamearea
	{
		display: none;
		width: 80%;
		height: 500px;
		margin: 0 auto;
	}
	body
	{
		color: black;
	}
